.cm-s-ipython, .output_text {
  font-family: "Menlo";
}
.cm-s-ipython span.cm-comment {
  color: #75715e;
  font-style: italic;
}
.cm-s-ipython span.cm-keyword {
  color: hsl(301, 63%, 40%);
  font-weight: normal;
}
.cm-s-ipython span.cm-variable {
  color: hsl(230, 8%, 24%);
}
.cm-s-ipython span.cm-variable-2 {
  color: hsl(230, 8%, 24%);
}
.cm-s-ipython span.cm-variable-3 {
  color: hsl(230, 8%, 24%);
}
.cm-s-ipython span.cm-operator {
  color: hsl(230, 8%, 24%);
}
.cm-s-ipython span.cm-def {
  color: hsl(221, 87%, 60%);
  font-weight: normal;
}
.cm-s-ipython span.cm-property {
  color: hsl(221, 87%, 60%);
}
.cm-s-ipython span.cm-builtin {
  color: hsl(198, 99%, 37%);
}
.cm-s-ipython span.cm-number {
  color: hsl(41, 99%, 30%);
}
.cm-s-ipython span.cm-string {
  color: hsl(119, 34%, 47%);
}
